@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

:root {
  --bg-primary: #0A0A0A;
  --bg-secondary: #141414;
  --fg-primary: #F5F5F4;
  --fg-muted: #8B8D93;
  --fg-accent: #60D835;
  --fg-gold: #C49A32;
}

* {
  font: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

body {
  height: 100dvh;
  background-color: var(--bg-primary);
  font-family: "Irish Grover", system-ui;
  display: grid;
  place-items: center;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  position: absolute;
  top: -12rem;
  left: 50%;
  translate: -50% 0;
  color: var(--bg-primary);
  font-size: 56px;
  text-wrap: nowrap;
}

#header::before {
  content: "";
  position: absolute;
  inset: -128px;
  background-image: url("header-banner.svg");
  background-position: center;
  background-size: 100% 100%;
  z-index: -1;
}

#button-login {
  color: var(--fg-primary);
  font-size: 56px;
  text-decoration: none;
  transition: color 0.25s;
}

#button-login:hover {
  color: var(--fg-muted);
}

#button-login:active {
  translate: 0 2px;
}

#input-password {
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--fg-accent);
  text-align: center;
  field-sizing: content;
  font-size: 20px;
  height: 40px;
  transition: color 0.25s;
}

#input-password::placeholder {
  font-size: 32px;
}

@media (max-width: 768px) {
  #header, #button-login {
    font-size: 40px;
  }

  #header::before {
    inset: -72px;
  }

  #input-password {
    font-size: 24px;
  }
}
